/* PaymentWin.css */

.loading-win-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .loading-win-content {
    display: flex; /* Change to flex to allow children to be flex items */
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .content-container {
    display: flex;
    justify-content: space-between;
    width: 100%; /* Ensure full width */
  }
  
  .price-table {
    flex: 1; /* Allow the price-table to take remaining space */
  }
  
  .loading-method {
    margin-left: 20px; /* Add margin to separate loading-method from price-table */
  }
  
  .loading-win-container button {
    margin-top: 20px;
  }
  