.info-page-container {
    display: flex;
  }
  
  .info-page-content {
    margin-left: 20px;
  }
  
  .info-function {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .info-info {
    border: 1px solid #e8e8e8;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .info-page-content {
    display: flex;
    flex-direction: column;
  }
  
  .info-page-content div {
    margin-bottom: 10px; 
  }
  /* Add this to your CSS file or style block */
.checkbox-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.checkbox-item input {
  margin-right: 8px;
}

.type-permitted button {
  margin-top: 16px;
  padding: 8px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.type-permitted button:hover {
  background-color: #45a049;
}
