.print-page-container {
  display: flex;
}

.print-page-content {
  margin-left: 20px;
}

.print-function {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.print-info {
  border: 1px solid #e8e8e8;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

h3 {
  font-size: 18px;
  margin-bottom: 10px;
}
.chonthongsoin,
.taifilelen,
.save {
  border-radius: 10px;
  background-color: #0c0b3b;
  color: white;
}
.save {
  width: 50px;
  height: 30px;
  margin-left: 50px;
  margin-top: 15px;
  background-color: black;
  color: white;
}
.print-info-1 {
  margin-top: 5%;
}
.myboxx {
  margin-left: 40px;
  margin-top: 30px;
  border-color: aqua;
  background-color: white;
  border-radius: 10px;
}
.description2 {
  margin-left: 35px;
}
.textbox {
  margin-left: 20px;
}
.print-page-content {
  margin-top: 25px;
  margin-left: 280px;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");

.boxupload {
  --body-bg: #f5f8ff;
  --box-bg: #fff;
  --input-bg: #f5f8ff;
  --txt-color: #2f2d2f;
  --txt-second-color: #ccc;
  --border-color: #4267b2;
  /* --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
  --box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.boxupload {
  font-family: "Montserrat", sans-serif;
  /* display: flex; */
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
  justify-content: center;
  background-color: var(--box-bg);
  padding: 30px;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
}

.headerupload {
  margin-bottom: 30px;
  text-align: center;
}
.mainprint {
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}
.dropdown-container123 {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.label1_dropdown,
.label2_dropdown {
  margin-right: 15px;
}
.dong1,
.dong2,
.dong3,
.dong4,
.dong5,
.dong6,
.dong7,
.dong8,
.dong9,
.dong10 {
  margin-left: 1px;
  margin-top: 13px;
}
.dong10 {
  margin-bottom: 0px;
}
.dropdown-container123 {
  margin-right: 50px;
  padding: 0%;
  margin-bottom: 170px;
}
.label-container {
  margin-right: -100px;
  width: fit-content;
  display: flex;
  justify-content: space-between;
  margin-right: 1px;
  margin-bottom: 10px; /* Adjust as needed for spacing between labels and dropdowns */
  flex-direction: column;
  /* margin-bottom: 0px; */
  font-size: 13px;
  margin-right: 5px;
}
.label-1 {
  margin-left: 90px;
  margin-top: 63px;
  width: fit-content;
}
/* .label-2 {
  margin-left: 90px;
  margin-bottom: -15px;
  margin-top: -20px;
  width: fit-content;
} */
.label-3 {
  margin-left: 75px;
  margin-bottom: -15px;
  margin-top: -15px;
  width: fit-content;
}
.label-4 {
  margin-left: 75px;
  margin-bottom: -20px;
  margin-top: 1px;
  width: fit-content;
}
.label-5 {
  margin-left: 75px;
  margin-bottom: -20px;
  width: fit-content;
}
.label-6 {
  margin-left: 75px;
  margin-bottom: -15px;
  width: fit-content;
}
.label-7 {
  margin-left: 75px;
  margin-bottom: -20px;
  width: fit-content;
}
.label-8 {
  margin-left: 75px;
  margin-bottom: -20px;
  width: fit-content;
}
.label-9 {
  margin-left: 75px;
  margin-bottom: -20px;
  width: fit-content;
}
.label-10 {
  margin-left: 75px;
  margin-bottom: 165px;
  width: fit-content;
}
.benphai {
  display: flex;
}
.container {
  display: block;
  position: relative;
  padding-left: 17px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-right: 15px;
  font-size: 13px;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
.dongchonpage {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}
.inputselectfile {
  border-radius: 15px;
  width: 95px;
}
.tienhanhin {
  margin-left: 600px;
  margin-top: -140px;
  margin-right: 200px;
}
