.print-page-container {
  display: flex;
}

.print-page-content {
  margin-left: 20px;
}

.print-function {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.print-info {
  border: 1px solid #e8e8e8;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

h3 {
  font-size: 18px;
  margin-bottom: 10px;
}
.chonthongsoin,
.taifilelen,
.save {
  border-radius: 10px;
  background-color: #0c0b3b;
  color: white;
}
.save {
  width: 50px;
  height: 30px;
  margin-left: 50px;
  margin-top: 15px;
  background-color: black;
  color: white;
}
.print-info-1 {
  margin-top: 5%;
}
.myboxx {
  margin-left: 40px;
  margin-top: 30px;
  border-color: aqua;
  background-color: white;
  border-radius: 10px;
}
.description2 {
  margin-left: 35px;
}
.textbox {
  margin-left: 20px;
}
.print-page-content {
  margin-top: 25px;
  margin-left: 280px;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");

.boxupload {
  --body-bg: #f5f8ff;
  --box-bg: #fff;
  --input-bg: #f5f8ff;
  --txt-color: #2f2d2f;
  --txt-second-color: #ccc;
  --border-color: #4267b2;
  --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.boxupload {
  font-family: "Montserrat", sans-serif;
  /* display: flex; */
  margin-top: 100px;
  justify-content: center;
  background-color: var(--box-bg);
  padding: 30px;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
  margin-left: 360px;
}

.headerupload {
  margin-bottom: 30px;
  text-align: center;
}
